body {
    background: linear-gradient(270deg, rgb(177, 63, 177), pink);
}

[value="first-text"] {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: normal;

    color: red;
    direction: rtl;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 90px;

    background-color: purple;
}

[valuelol] {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 2.3rem;
    font-weight: bold;

    color: purple;
    direction: ltr;
    text-decoration: overline;
    text-transform: lowercase;
    text-shadow: 0em 0em 2em purple;

    background-color: yellow;
}

[value^="third"] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-size: 3em;
    font-weight: lighter; 

    color: yellowgreen;
    direction: rtl;
    text-decoration: line-through;
    text-transform: capitalize;

    background-color: blue;
}

[value$="rs-text"] {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-size: 200%;
    font-weight: bolder;

    color: blanchedalmond;
    text-align: center;
    line-height: 3;

    background-color: green;
}

[valuecon*="te"] {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: larger;
    font-weight: normal;

    color: navy;
    text-align: end;

    background-color: brown;
}

[value~="title"] {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    font-size: smaller;
    font-weight: normal;

    color: chocolate;
    text-align: left;

    background-color: black;
}

[value|="seves"] {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: xx-large;
    font-weight: bolder;

    color: brown;
    text-align: right;

    background: radial-gradient(circle, blue, yellow);
}

.shorthand-first {
    font: caption;
}

.shorthand-second {
    font: 3rem 'Impact';
}

.google-font {
    font-family: "Playwrite NZ Guides";
    font-size: xx-large;
    text-align: center;
    letter-spacing: 0.2em;
    word-spacing: 2em;
}

/* Не работает(
@font-face {
    font-family: 'test-font';
    src: url('DynaPuff/fonts/static/DynaPuff_Bold.ttf') format(truetype);
}

.downloaded-font {
    font-family: 'test-font';
}
*/

.variant-font {
    font-variant:small-caps;
    opacity: .2;

    background: linear-gradient(45deg, red, blue);
}

.some-text {
    font-size: 1.5em;
    text-align: center;

    line-height: 1.5em;
    text-shadow: 1em 1em 2em black;

    background-image: url("../images/alex.jpg");
    background-size: contain;

    height: 9em;
}